<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Pokedex</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <link rel="shortcut icon" href="./assets/pokeball.ico">
    <!-- Import Js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    <script src="https://unpkg.com/pokeapi-js-wrapper@1.2.2/dist/index.js">require("pokeapi-js-wrapper");</script>
</head>
<body>
    <div id="app">
        <img class="center" src="./assets/pokemonlogo.png" style="width: 30%; height: 30%;">
        <input type="text" id="search" class="searchinput center" placeholder="Search" v-model.lazy="name" @change="getSearch()">
        <div v-if="name != ''">
            <ul>
                <li v-for="(pokemon,index) in pokesearch">
                    <table>
                        <tr id="imgpokemon"><td><img :src="getImgSearch(index)" width="256" height="256"></td></tr>
                        <tr id="namepokemon" class="tabletext"><td>Name : {{capitalize(pokemon.name)}}</td></tr>
                        <tr id="idpokemon" class="tabletext"><td>Id: {{pokemon.id}}</td></tr>
                    </table>
                </li>
            </ul>
        </div>
        <pokelist v-else></pokelist>
    </div>
    <!-- scripts -->
    
    <!-- Import App -->
    <script src="./main.js"></script>
    <script src="./components/Pokemon.js"></script>

    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app');

    </script>
</body>
</html>
